.modal--button {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.03);
    padding: 50px;
    backdrop-filter: blur(7.5px);
    overflow: auto;
}

.container .modal--button .col h2 {
    text-align: center;
    position: relative;
    left: -11px;
}

.container .modal--button .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .modal--button .buttons .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}

.container .modal--button .buttons .col .product {
    padding: 5px;
}

.container .modal--button .buttons .col span {
    color: #1C274C;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.52px;
}

.container .buttons .border-app {
    border-radius: 20px;
    border: 3px solid #6C5FBC;
    margin: 0 20px;
}

.container .forms .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 13.5px auto;
}

.container .forms .col label {
    color: #1C274C;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.52px;
    opacity: 0.6000000238418579;
    margin-top: 5px;
}

.container .forms .col input {
    color: #000;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.52px;
    border-radius: 5px;
    border: 1.5px solid #D9D9D9;
    background: none;
    width: 250px;
    height: 45px;
    outline: none;
    padding: 20px 20px;
}

.container .submit .cartIs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid #6C5FBC;
    width: 179px;
}

.container .submit .cartIs p {
    color: #1C274C;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.52px;
}

.container .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .submit .buttonSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.container .submit .buttonSubmit button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #6C5FBC;
    margin: 10px auto;
}

.container .submit .buttonSubmit button {
    height: 60px;
}

@media screen and (min-width: 500px) {
    .container .forms .col input {
        width: 350px;
    }

    .container .submit .buttonSubmit {
        justify-content: space-around;
        margin: 20px 0;
    }
    .forms {
        margin: 30px auto;
    }
}